<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <section th:fragment="sidebar" class="caja-sidebar">
        <div class="caja-sidebar-header">
            <div class="caja-sidebar-logo">
                <!-- Logo -->
                <img th:src="@{/images/Logo_principal.png}" alt="GETBACK Logo" class="logo-image">
                <!-- Título GETBACK -->
                <h3 class="caja-sidebar-title">GETBACK</h3>
            </div>
        </div>
        
        <nav class="nav flex-column sidebar-section">
            <!-- Navegación Principal -->
            <a th:href="@{/caja(section='inicio-caja')}" 
               th:classappend="${(activeSection == 'inicio-caja' or activeSection == null)} ? 'nav-link active' : 'nav-link'">
                <i class="fas fa-home"></i> Panel Principal
            </a>
            
            <a th:href="@{/caja(section='punto-venta')}" 
               th:classappend="${activeSection == 'punto-venta'} ? 'nav-link active' : 'nav-link'">
                <i class="fas fa-cash-register"></i> Punto de Venta
            </a>
            
            <a th:href="@{/caja(section='pedidos')}" 
               th:classappend="${activeSection == 'pedidos'} ? 'nav-link active' : 'nav-link'">
                <i class="fas fa-list-alt"></i> Pedidos
            </a>
            
            <a th:href="@{/caja(section='pagos')}" 
               th:classappend="${activeSection == 'pagos'} ? 'nav-link active' : 'nav-link'">
                <i class="fas fa-credit-card"></i> Pagos
            </a>

            <a th:href="@{/caja(section='historial-pagos')}" 
               th:classappend="${activeSection == 'historial-pagos'} ? 'nav-link active' : 'nav-link'">
                <i class="fas fa-receipt"></i> Historial de Pagos
            </a>
            
            <a th:href="@{/caja(section='corte-caja')}" 
               th:classappend="${activeSection == 'corte-caja'} ? 'nav-link active' : 'nav-link'">
                <i class="fas fa-balance-scale"></i> Inicio / Cierre de caja
            </a>

			<a th:href="@{/caja(section='configuracion')}" 
			   th:classappend="${activeSection == 'configuracion'} ? 'nav-link active' : 'nav-link'">
				<i class="fas fa-user-cog"></i> Configuración
			</a>
        </nav>
        
        <div class="sidebar-footer">
            <p class="version">2025 Ignitia — Desarrollado por Ignitia. Todos los derechos reservados</p>
        </div>
    </section>
</body>
</html>