<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<section th:fragment="sidebar" class="sidebar">
		<div class="sidebar-header">
			<div class="sidebar-logo">
				<img th:src="@{/images/Logo_principal.png}" alt="GETBACK Logo" class="logo-image">
				<h3 class="sidebar-title">GETBACK</h3>
			</div>
		</div>

		<nav class="nav flex-column sidebar-section">
			<a th:href="@{/admin(activeSection = 'perfil')}"
				th:classappend="${(activeSection == 'perfil' or activeSection == null)} ? 'nav-link active' : 'nav-link'">
				<i class="fas fa-user"></i> Perfil Usuario
			</a>
			<a th:href="@{/admin}"
				th:classappend="${(activeSection == 'dashboard' or activeSection == null)} ? 'nav-link active' : 'nav-link'">
				<i class="fas fa-home"></i>Panel Principal
			</a>
			<a th:href="@{/admin(activeSection='products')}"
				th:classappend="${activeSection == 'products'} ? 'nav-link active' : 'nav-link'">
				<i class="fas fa-box"></i>Productos
			</a>
			<a th:href="@{/admin(activeSection='categories')}"
				th:classappend="${activeSection == 'categories'} ? 'nav-link active' : 'nav-link'">
				<i class="fas fa-tags"></i>Categorías
			</a>
			<a th:href="@{/admin(activeSection='events')}"
				th:classappend="${activeSection == 'events'} ? 'nav-link active' : 'nav-link'">
				<i class="fas fa-calendar"></i>Eventos
			</a>
			<a th:href="@{/users}" class="nav-link">
				<i class="fas fa-users"></i> Gestion de Usuarios
			</a>
			<a th:href="@{/admin(activeSection='locations')}"
				th:classappend="${activeSection == 'locations'} ? 'nav-link active' : 'nav-link'">
				<i class="fas fa-map-marker-alt"></i> Categorías de mesas
			</a>

			<a th:href="@{/admin(activeSection='mesas')}"
				th:classappend="${activeSection == 'mesas'} ? 'nav-link active' : 'nav-link'">
				<i class="fas fa-chair"></i>Asignar Mesas
			</a>

			<a th:href="@{/admin(activeSection='mesas')}"
				th:classappend="${activeSection == 'mesas'} ? 'nav-link active' : 'nav-link'">
				<i class="fas fa-chair"></i>Historial de ventas
			</a>
		</nav>
		<!-- Footer compacto -->
		<div class="sidebar-footer">
			<p class="text-secondary small mb-0">
				© 2025 Ignitia — Desarrollado por Ignitia. Todos los derechos reservados
			</p>

		</div>
	</section>
</body>

</html>